<h1>Admin List</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Dog</th>
  </tr>
  <% @user.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <% user.dogs.each do |dog| %>
      <td> <%= dog.name %></td>
    <% end %>
  <% end %>
</table>

